/*CSS for Week 8 Task 2 Portfolio*/

/*Removing browser defaullt padding and margins*/
*{
    margin: 0;
    padding: 0;
}    

/*Smooth scrolling function- neessary to do by CSS, as page does not have JavaScript */
html {
    scroll-behavior: smooth;
}

/*This sets the overall settings for the webpage, which can be changed in each section */
 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    scroll-behavior: smooth;
    background-color: lightgreen;
    max-width: 1300px;
    margin: 0 auto;
    font-size: 20px;
    }

header {
    background-color:lightgreen;
    color: black;
    padding: 30px 0;
    text-align: center;
    }

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
    }

header p {
    font-size: 16px;
    opacity: 0.95;
    }

h2{
    font-size: 24px;
    }

/* Styling for main content div class (below nav bar)*/
.main-content{
    margin: 0 auto;
    max-width: 1500px;
    padding: 40px 0; 
}

/* Navigation bar settings */        
nav {
    background-color: cornsilk;
    padding: 30px;
    text-align: center;
    max-width: 1300px; /*Matches max-width of body*/
    position: sticky; /*nav bar remains on top of page when scrolling*/
    top: 0;
    z-index: 100;
    margin: 0 0;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 55px;
    font-size: 24px;
    font-weight: 500;
    transition: color 0.3s;
    cursor: pointer;
}

nav a:hover {
    color:gold
}

.fade-in-on-scroll {
    animation: fadeInUp 0.6s ease-out forwards;
}

/* Video section styling - also used in introduction section */
.video {
    max-width: 1280px;
    margin: 0 auto 50px auto;
    padding: 30px;
    background:rgba(119, 230, 174, 0.774) ;
    border-radius: 10px;
    width: 200%; 
}

/* Audio section styling */
.audio {
    max-width: 500px;
    margin: 50px auto;
    margin-top: 20px;
    padding: 30px;
    background:rgba(119, 230, 174, 0.774) ;
    border-radius: 20px;
    width: 200%;
    scroll-margin-top: 100px;
}

/* Image section styling */
.gallery {
    width: 900px;
    max-width: 1000px;
    /*Using both width and max-width makes the page respond better to different screen sizes*/
    margin: 50px auto;
    margin-top: 20px;
    padding: 30px;
    background:rgba(119, 230, 174, 0.774) ;
    border-radius: 20px;  
}

/* Animation section styling*/
.animation{
    width: 900px;
    height: 300px;
    max-width: 1000px;
    margin: 50px auto;
    margin-top: 20px;
    padding: 30px;
    background:rgba(119, 230, 174, 0.774) ;
    border-radius: 20px;
}

.square {
  width: 75px;
  height: 75px;
  background-color: cornsilk;
  position: relative;
  animation: moveAcross 7s ease-in-out infinite;
}

@keyframes moveAcross {
  0% { left: 0; top: 0; }
  50% { left: 50%; top: 10px; }
  100% { left: calc(100% - 50px); top: 0; }
}

